---
import SiteBaseLayout from "../layouts/SiteBaseLayout.astro";

// INFO: Import the json data directly from the filesystem in the project repo
import categories from "../data/categories.json"
---

<SiteBaseLayout title="Categories">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 my-16">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-lg font-semibold text-white">BMI-Kategorien</h1>
        <p class="mt-2 text-sm text-gray-300">
          Übersicht über die verschiedenen BMI-Kategorien gemäss WHO-Definition.
        </p>
      </div>
    </div>

    <div class="mt-8 flow-root">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <div
            class="overflow-hidden outline-1 -outline-offset-1 outline-white/10 sm:rounded-lg"
          >
            <table class="relative min-w-full divide-y divide-white/15">
              <thead class="bg-gray-800/75">
                <tr>
                  <th
                    scope="col"
                    class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-200 sm:pl-6"
                  >
                    Kategorie
                  </th>
                  <th
                    scope="col"
                    class="px-3 py-3.5 text-left text-sm font-semibold text-gray-200"
                  >
                    Spezifisch
                  </th>
                  <th
                    scope="col"
                    class="px-3 py-3.5 text-left text-sm font-semibold text-gray-200"
                  >
                    Minimal
                  </th>
                  <th
                    scope="col"
                    class="px-3 py-3.5 text-left text-sm font-semibold text-gray-200"
                  >
                    Maximal
                  </th>
                </tr>
              </thead>

              <tbody class="divide-y divide-white/10 bg-gray-800/50">
                {
                  categories.map((object) => (
                    object.subCategories.length > 0 ? (
                      object.subCategories.map((sub, index) => (
                        <tr>
                          <td class="py-4 pl-4 pr-3 text-sm font-medium text-white whitespace-nowrap sm:pl-6">
                            {index === 0 ? object.name : ""}
                          </td>
                          <td class="px-3 py-4 text-sm text-gray-400 whitespace-nowrap"
                            >{sub.name}</td
                          >
                          <td class="px-3 py-4 text-sm text-gray-400 whitespace-nowrap"
                            >{sub.low ?? "–"}</td
                          >
                          <td class="px-3 py-4 text-sm text-gray-400 whitespace-nowrap"
                            >{sub.high ?? "–"}</td
                          >
                        </tr>
                      ))
                    ) : (
                      <tr>
                        <td class="py-4 pl-4 pr-3 text-sm font-medium text-white whitespace-nowrap sm:pl-6">
                          {object.name}
                        </td>
                        <td class="px-3 py-4 text-sm text-gray-400 whitespace-nowrap">–</td>
                        <td class="px-3 py-4 text-sm text-gray-400 whitespace-nowrap"
                          >{object.low ?? "–"}</td
                        >
                        <td class="px-3 py-4 text-sm text-gray-400 whitespace-nowrap"
                          >{object.high ?? "–"}</td
                        >
                      </tr>
                    )
                  ))
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</SiteBaseLayout>
